h1 {
  color: #0078d7;
  margin-bottom: 10px;
}

h3 {
  color: #0078d7;
  margin-bottom: 15px;
  margin-top: 15px;
}

li {
  background-color: #1F232B;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out all;
}

li:hover {
  transform: scale(1.02);
}


.delete-todo-btn, .check-todo-btn {
  background-color: transparent;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.delete-todo-btn {
  border: none;
  outline: none;
  border-radius: 5px;
}

.check-todo-btn {
  color: rgb(116, 182, 118);
  border: none;
  outline: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

form {
  padding: 5px;
}

input[type=text] {
  padding: 10px;
  border-radius: 12px;
}

input[type=submit] {
  padding: 10px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

select {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
}

/* .todo-info-container {
} */

/* #form-container {
} */
