/* 
colors from https://material.io/design/color/dark-theme.html#ui-application
primary #bb86fc
primary variant #3700B3
secondary #03DAC6
error #CF6679
*/

:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --error: #cf6679;
}

#home-container {
  display: flex;
  flex-direction: row;
}

#home-nav-container {
  background-color: #1b1f24;
  height: 100vh;
  width: 15%;
  min-width: 100px;
  max-width: 150px;
}

#home-main-container {
  height: 100vh;
  width: 85%;
}

.home-nav-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.home-nav-item:hover {
  cursor: pointer;
  background-color: #aab2c015;
  color: #aab2c0;
}

.home-nav-link {
  text-decoration: none;
  color: #aab2c0;
}
.home-nav-link:hover,
.home-nav-link:active {
  color: #aab2c0;
  outline: none;
}

#home-header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
}

#welcome-text-container {
  margin-left: 15px;
}

#welcome-text {
  color: var(--primary);
}

/* ===== user pic + logout button area ===== */

#pic-and-logout-container {
  /* border: 1px solid red; */
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
  margin-top: 15px;
}

#user-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

#logout-btn-home {
  /* position: absolute; */
  right: 10px;
  outline: none;
  border: none;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 5px;
}
#logout-btn-home:hover {
  cursor: pointer;
}
