html {
  box-sizing: border-box;
}

/* submenues */

.submenu-trigger {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu-trigger:hover {
  cursor: pointer;
}

.top-corners {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bottom-corners {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  background: #1b1f24;
  cursor: pointer;
  padding: 5px;
  height: 28px;
}

.menu-item:hover {
  color: #bb86fc;
}

.menu-item-override {
  height: auto;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.edit-thought-input {
  background-color: #1b1f24;
  color: #aab2c0;
  border: none;
  outline: none;
  border-bottom: 1px solid #aab2c0;
  margin-left: 10px;
  margin-right: 5px;
}

textarea:focus {
  outline: none;
  border: 0.25px solid #aab2c0;
  border-radius: 1px;
}

.new-thought-input {
  background-color: #1b1f24;
  color: #aab2c0;
  /* margin-left: 10px; */
  /* margin-right: 5px; */
  height: 80px;
  width: 400px;
  margin: 5px;
  padding: 10px;
}

.edit-thought-submit {
  background-color: #1b1f24;
  outline: none;
  color: #aab2c0;
  border: none;
}

.edit-thought-submit:hover {
  cursor: pointer;
}

/* container for all projects (scrollview) */

#projectList-container {
  margin-bottom: 100px;
}

.proj-title-container {
  display: flex;
  flex-direction: row;
}

/* project card + their thought cards */

.thoughtCard-container {
  background: #1f232b;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.completed-text {
  text-decoration: line-through;
  color: #aab2c046;
}

/* header + logout/in buttons */

/* #header-toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
} */

#main-header {
  position: sticky;
  top: 0px;
  background-color: #1b1f24;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#logout-btn-projects {
  position: absolute;
  right: 10px;
  outline: none;
  border: none;
  background-color: #bb86fc;
  padding: 10px;
  border-radius: 5px;
}
#logout-btn-projects:hover {
  cursor: pointer;
}

#title {
  position: absolute;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* slide animation */

.textbox {
  border: 1px solid red;
  /* overflow: hidden; */
  height: 200px;
  width: 0px;
  transition: width 600ms ease-in-out, height 600ms ease-in-out;
}

.textbox--hidden {
  overflow: hidden;
  border: 1px solid red;
  height: 0px;
  width: 0px;
  transition: width 600ms ease-in-out, height 600ms ease-in-out;
}

/* from w3 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate */

.collapsible {
  border: 1px solid red;
  height: 0px;
  width: 300px;
  transition: height 0.2s ease-out;
  overflow: hidden;
}

/* .content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
} */
