html {
	margin: 5px;
  box-sizing: border-box;
}

/* submenues */

.submenu-trigger {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-corners {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bottom-corners {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu-item {
  /* #1F232B thought card background */
  display: flex;
  align-items: center;
  /* justify-content: center; */
	background: #1b1f24;
  cursor: pointer;
  padding: 5px;
  height: 28px;
}

.menu-item:hover {
  color: #6200EE;
}

input:focus {
  outline: none;
}

.edit-input {
  background-color: #1b1f24;
  color: #AAB2C0;
  border: none;
  outline: none;
  border-bottom: 1px solid #AAB2C0;
  margin-left: 10px;
  margin-right: 5px;
}

.edit-input-submit {
  background-color: #1b1f24;
  outline: none;
  color: #AAB2C0;
  border: none;
  /* border: 1px solid #AAB2C0; */
  /* border-radius: 5px; */
}

.edit-input-submit:hover {
  cursor: pointer;
}

/* container for all projects (scrollview) */

#projectList-container {
	border: 1px solid red;
}

/* project card + their thought cards */

.projectCard-container {
	border: 1px solid black;
}

.thoughtCard-container {
  background: #1F232B;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  /* box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35); */
}

.thoughtCard-container:hover {
  /* background-color: grey; */
}

.completed-text {
  text-decoration: line-through;
  opacity: 0.4;
}

.incompleted-text {
  
}

/* projects header/CRUD form */

#projectsHeader-container {
	border: 1px solid grey;
}
